# Get Data From TSETMC by requests

### import package

In [1]:
import requests
import pandas as pd

## Share Holders

In [22]:
stock = 'وبملت'
code = 778253364357513
date = 20230614
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36 Edg/95.0.1020.53'}
url = 'http://cdn.tsetmc.com/api/Shareholder/{}/{}'.format(code, date)

response        = requests.get(url, headers=headers)
shareholders    = response.json()['shareShareholder']
shareholders_df = pd.DataFrame(shareholders)[::-1]
grouped         = shareholders_df.groupby('shareHolderID')

shareholders_df['Change_Number']  = grouped['numberOfShares'].diff()
shareholders_df['Change_Percent'] = grouped['perOfShares'].diff()
shareholders_df                   = shareholders_df[shareholders_df['dEven'] == 20230615 ]
shareholders_df                   = shareholders_df.drop(['change', 'changeAmount'], axis=1 )

In [23]:
shareholders_df

,shareHolderID,shareHolderName,cIsin,dEven,numberOfShares,perOfShares,shareHolderShareID,Change_Number,Change_Percent
14,1063,شركت س ااصفهان س.ع-م ك م ف ع-,IRO1BMLT0007,20230615,3.877459e+09,1.09,0,0.0,0.00
13,46570,شركت شيرين عسل-سهامي خاص-,IRO1BMLT0007,20230615,4.221317e+09,1.19,0,0.0,0.00
12,2662,شركت س اخوزستان س.خ-م ك م ف ع-,IRO1BMLT0007,20230615,4.306869e+09,1.22,0,0.0,0.00
11,2674,شركت س افارس س.خ-م ك م ف ع-,IRO1BMLT0007,20230615,4.422594e+09,1.25,0,0.0,0.00
10,21630,شركت گروه توسعه مالي مهرآيندگان -سهامي عام -,IRO1BMLT0007,20230615,5.198455e+09,1.47,0,0.0,0.00
9,1065,شركت س اخراسان رضوي س.خ-م ك م ف ع-,IRO1BMLT0007,20230615,5.868879e+09,1.66,0,0.0,0.00
8,1064,شركت س اتهران س.خ-م ك م ف ع-,IRO1BMLT0007,20230615,6.083789e+09,1.72,0,0.0,0.00
7,965,صندوق تامين آتيه كاركنان بانك ملت,IRO1BMLT0007,20230615,7.055370e+09,1.99,0,0.0,0.00
6,21470,شركت تعاوني معين آتيه خواهان,IRO1BMLT0007,20230615,7.823096e+09,2.21,0,0.0,0.00
5,490,شركت سرمايه گذاري صباتامين -سهامي عام -,IRO1BMLT0007,20230615,9.174197e+09,2.59,0,0.0,0.00
4,7379,شركت پتروشيمي فن آوران-سهامي عام-,IRO1BMLT0007,20230615,1.577656e+10,4.46,0,0.0,0.00
3,62279,صندوق سرمايه گذاري واسطه گري مالي يكم,IRO1BMLT0007,20230615,2.003119e+10,5.67,0,0.0,0.00
2,8113,شركت گروه مالي ملت -سهام عام -,IRO1BMLT0007,20230615,2.151100e+10,6.09,0,230000000.0,0.07
1,42477,BFMصندوق سرمايه گذاري.ا.بازارگرداني ملت,IRO1BMLT0007,20230615,3.124715e+10,8.85,0,90000000.0,0.03
0,42240,دولت جمهوري اسلامي ايران,IRO1BMLT0007,20230615,3.940978e+10,11.16,0,0.0,0.00

## Trade History

In [42]:
stock = 'وبملت'
code = 13611044044646901
date = 20230913
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36 Edg/95.0.1020.53'}
url = 'http://cdn.tsetmc.com/api/Trade/GetTradeHistory/{}/{}/true'.format(code, date)
response = requests.get(url, headers=headers)
tradeHistory = response.json()['tradeHistory']
tradeHistory_df = pd.DataFrame(tradeHistory)[::-1]

In [41]:
tradeHistory_df

,insCode,dEven,nTran,hEven,qTitTran,pTran,qTitNgJ,iSensVarP,pPhSeaCotJ,pPbSeaCotJ,iAnuTran,xqVarPJDrPRf,canceled
0,None,0,246,122952,4000,1675.0,0, ,0.0,0.0,0,0.0,0
1,None,0,244,122938,3004,1675.0,0, ,0.0,0.0,0,0.0,0
2,None,0,243,122935,7356,1675.0,0, ,0.0,0.0,0,0.0,0
3,None,0,242,122906,10300,1675.0,0, ,0.0,0.0,0,0.0,0
4,None,0,241,122707,8038,1671.0,0, ,0.0,0.0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,None,0,9,90722,65000,1683.0,0, ,0.0,0.0,0,0.0,0
164,None,0,8,90652,26500,1682.0,0, ,0.0,0.0,0,0.0,0
165,None,0,6,90631,3500,1682.0,0, ,0.0,0.0,0,0.0,0
166,None,0,5,90404,33030,1700.0,0, ,0.0,0.0,0,0.0,0
167,None,0,4,90350,200000,1700.0,0, ,0.0,0.0,0,0.0,0

## Closing Price history

In [59]:
stock   = 'وبملت'
code    = 13611044044646901
date    = 20230913

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36 Edg/95.0.1020.53'}
url     = 'http://cdn.tsetmc.com/api/ClosingPrice/GetClosingPriceHistory/{}/{}'.format(code, date)

response       = requests.get(url, headers=headers)
closingPric    = response.json()['closingPriceHistory']
closingPric_df = pd.DataFrame(closingPric)[::-1]

In [60]:
closingPric_df

,id,insCode,dEven,hEven,pClosing,iClose,yClose,pDrCotVal,zTotTran,qTotTran5J,qTotCap
167,0,None,0,61101,1708.0,False,False,1686.0,0.0,0.0,0.000000e+00
166,0,None,0,90350,1708.0,False,False,1700.0,4.0,260000.0,4.420000e+08
165,0,None,0,90404,1708.0,False,False,1700.0,5.0,293030.0,4.981510e+08
164,0,None,0,90631,1708.0,False,False,1682.0,6.0,296530.0,5.040380e+08
163,0,None,0,90652,1708.0,False,False,1682.0,8.0,359530.0,6.100040e+08
...,...,...,...,...,...,...,...,...,...,...,...
4,0,None,0,122707,1695.0,False,False,1671.0,241.0,5555263.0,9.333185e+09
3,0,None,0,122906,1695.0,False,False,1675.0,242.0,5565563.0,9.350437e+09
2,0,None,0,122935,1695.0,False,False,1675.0,243.0,5572919.0,9.362759e+09
1,0,None,0,122938,1695.0,False,False,1675.0,244.0,5575923.0,9.367790e+09
0,0,None,0,122952,1695.0,False,False,1675.0,246.0,5593063.0,9.396500e+09

## best Limits History

In [50]:
stock   = 'وبملت'
code    = 13611044044646901
date    = 20230913

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36 Edg/95.0.1020.53'}
url     = 'http://cdn.tsetmc.com/api/BestLimits/{}/{}'.format(code, date)

response      = requests.get(url, headers=headers)
BestLimits    = response.json()['bestLimitsHistory']
BestLimits_df = pd.DataFrame(BestLimits)[::-1]

In [51]:
BestLimits_df

,idn,dEven,hEven,refID,number,qTitMeDem,zOrdMeDem,pMeDem,pMeOf,zOrdMeOf,qTitMeOf,insCode
1052,0,0,133551,12240104520,4,13000,1,1667.0,1699.0,3,266709,None
1051,0,0,133551,12240104520,2,280479,14,1669.0,1691.0,2,16315,None
1050,0,0,130044,12240074672,2,280479,14,1669.0,1691.0,3,26315,None
1049,0,0,123724,12240048083,1,6500,1,1670.0,1690.0,1,400000,None
1048,0,0,123556,12240045608,4,13000,1,1667.0,1699.0,4,276709,None
...,...,...,...,...,...,...,...,...,...,...,...,...
4,0,0,60123,12237385904,5,50000,1,1631.0,1797.0,1,5000,None
3,0,0,60123,12237385904,4,50000,1,1634.0,1770.0,2,7000,None
2,0,0,60123,12237385904,3,304000,3,1650.0,1760.0,1,50000,None
1,0,0,60123,12237385904,2,120000,2,1660.0,1730.0,1,17495,None
0,0,0,60123,12237385904,1,100000,1,1665.0,1724.0,1,9055,None